.site-header {
  padding: 10px 0;
  position: absolute;
  width: 100%;
  z-index: 2;

  &--is-expanded {
    background-color: rgba($mainBlue, .55);
    transition: background-color .3s ease-out;
  }

  @mixin atMedium {
    position: fixed;
    background-color: rgba($mainBlue, .3);
    transition: background-color .3s ease-out;

    &--dark {
      background-color: rgba(23, 51, 72, .75);
      transition: background-color .3s ease-out;
    }
  }

  &__btn-container {
    @mixin atMedium {
      float: right;
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(.8);
    transform-origin: 50% 0;
    background-color: $mainBlue;
    padding: 25px 36px;
    transition: all .3s ease-out;

    @mixin atMedium {
      left: auto;
      transform: translateX(0) scale(1);

      .site-header--dark & {
        transform: scale(.56);

      }
    }
  }

  &__logo__graphic {
    text-indent: -9999px;
    padding: 2px 16px;
    color: #FFF;
    text-align: center;
    font-size: 1.875rem;
  }

  &__menu-icon {
    width: 20px;
    height: 19px;
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      transform-origin: 0 100%;
    }

    &__middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      transform-origin: 0 0;
    }

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-icon--closed-x {
    &::before {
      transform: rotate(46deg) scale(1.1);
    }

    .site-header__menu-icon__middle {
      opacity: 0;
    }

    &::after {
       transform: rotate(-46deg) scale(1.1);
    }
  }

  &__menu-content {
    opacity: 0;
    transform: scale(1.2);
    transition: all .15s ease-out;
    position: relative;
    z-index: -10;
    padding-top: 11px;
    text-align: center;

    @mixin atMedium {
      opacity: 1;
      z-index: 1;
      padding-top: 0;
      transform: scale(1);
    }

    &--is-visible {
      opacity: 1;
      z-index: 1;
      transform: scale(1);
    }
  }


}
